# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.suo
*.exe
*.ilk
*.pdb
*.sdf
*.sln
*.opendb
*.log
Debug\*
*.obj
*.pch
*.res
*.tlog
*.enc
*.idb
*.ico
*.rc
*.vcxproj
*.filters
*.ipch
*.zip
*.pdf
*.dll
*.db
*.aps
*.iobj
*.ipdb
Release\*
*.iobj
*.ipdb
*.iobj
Release/Direct3D2016B.ipdb
Release/Direct3D2016B.iobj
